.bodyFlex {
  position: absolute;
  top: 25vh;
  bottom: 25vh;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  //align-content: space-around;
  //background-color: #6f6f6f;

  animation-delay: 5s;
  animation: firstReveal 2s;

}

@keyframes firstReveal {
  from {
    left: 50vw;
    right: 50vw;
    top: 50vh;
    bottom: 50vh;
  }

  to {
    left: 0;
    right: 0;
    top: 25vh;
    bottom: 25vh;

  }
}
