@use '../utils' as *;

#cvContentSection {
  //padding-left: 1.25rem;

  a {
    color: #f4f4f4;
    text-decoration: none;
  }
}

#linkToExternalPDF {
  display: block;
  margin: 1rem 0;
  height: 2.25rem;
  max-width: 95%;
  position: relative;
  overflow: hidden;
  @include gradient-button;

  a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    padding: .25rem 0;
    font-size: 1.25rem;
    text-align: center;
    outline: none;
  }
  i {
    margin-left: .5rem;
  }
}
