@use '../utils' as *;

.navButton {
  margin: .125rem .25rem;
  padding: .25rem .75rem;

  @include gradient-button;
  @include responsive-nav-button;

  .fas {
    margin-left: .5rem;
  }

  a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
