@use '../utils' as *;

.portfolioItem {
  padding-top: .5rem;
  padding-left: 1.25rem;
}

.portfolioItemLink {
  font-size: 1.5rem;
  text-decoration: none;
  outline: none;
  color: #f4f4f4;
}

.portfolioItemPreview {
  width: 95%;
  margin-top: .75rem;
  outline: none;
  border: none;
}

.portfolioItemDescription {
  max-width: 90%;
  margin-top: .5rem;
}

@include responsive-portfolio-items;
