#helperText {
  h2 {
    color: lightgray;
  }
}

#barWrapper {
  //width: 24rem;
  //height: 8rem;
  padding: .25rem 1rem;
  background-color: lightgray;
  //border-radius: 50%;
  h2 {
    margin: 0;
    color: gray;
  }
}

#introBox {
  //visibility: hidden;
  padding: 0 1rem;
  //padding-top: .5rem;
  color: lightgray;
  top: 0rem;
  left: 0rem;
  opacity: 0;
  transition: opacity .7s ease;
  //border: solid 2px lightgray;

  .wrappedContent {
    //background-color: green;
    transform: skew(0deg -3deg);
    color: gray;

    ul {
      margin: 0;
      padding-left: 1rem;
    }

    li {
      font-size: 1.5rem;
      margin: .75rem 0;
      margin-top: 0;
      max-width: 70vw;
      list-style: none;
      list-style-position: outside;
      background: -webkit-linear-gradient(40deg, #be95ff, #c6c6c6, #ff8389);
      -webkit-background-clip: text !important;
      -webkit-text-fill-color: transparent !important;
      animation: bg_gradient_slide 3s ease;
      animation-iteration-count: infinite;
      animation-fill-mode: forwards;
      cursor: pointer;
    }

    li .gradient_1 {
      background: -webkit-linear-gradient(40deg, #be95ff, #c6c6c6, #ff8389);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    li .gradient_2 {
      background: -webkit-linear-gradient(40deg, #ff8389, #c6c6c6, #be95ff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    li:nth-child(1) {
      //margin-top: 1.5rem;
      animation-duration: 4.5s;
    }

    li:nth-child(2) {
      animation-duration: 4.6s;
    }
    li:nth-child(3) {
      animation-duration: 4.7s;
    }
    li:nth-child(4) {
      animation-duration: 4.8s;
    }
    li:nth-child(5) {
      animation-duration: 4.9s;
    }
    li:nth-child(6) {
      animation-duration: 4.8s;
    }
    li:nth-child(7) {
      animation-duration: 4.7s;
    }
    li:nth-child(8) {
      animation-duration: 4.6s;
    }
    li:nth-child(9) {
      animation-duration: 4.5s;
    }
    li:nth-child(10) {
      animation-duration: 4.6s;
    }

    @keyframes bg_gradient_slide {
      0% {
        background-position: 0 1600px;
      }
      100% {
        background-position: 1600px 0;
      }
    }

    @keyframes shuffle_Gradient {
      from {
        background: -webkit-linear-gradient(40deg, #be95ff, #c6c6c6, #ff8389);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      15% {
        background: -webkit-linear-gradient(20deg, #be95ff, #c6c6c6, #ff8389);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      30% {
        background: -webkit-linear-gradient(20deg, #ff8389, #c6c6c6, #be95ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      45% {
        background: -webkit-linear-gradient(40deg, #ff8389, #c6c6c6, #be95ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      60% {
        background: -webkit-linear-gradient(20deg, #ff8389, #c6c6c6, #be95ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      75% {
        background: -webkit-linear-gradient(20deg, #be95ff, #c6c6c6, #ff8389);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      to {
        background: -webkit-linear-gradient(40deg, #be95ff, #c6c6c6, #ff8389);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}

.overlayHtml {
  position: absolute;
  z-index: 1000;
}
