@use './base/typography';
@use './thirdParty/includeMedia';
@use './base/resets';
@use './sandbox';
@use 'utils' as *;

body {
  background-color: #161616;
  font-family: 'Chicago', 'Open Sans', monospace;
  color: #f4f4f4;
  margin: 0;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#canvasWrapper {
  overflow: hidden;
  height: 100%;
  width: 100%;

  canvas {
    display: block;
    width: 100%;
    height: 100%;
    //@include responsive-canvas-wrapper;
  }
}


:root {
  font-size: 16px;
}

#barWrapper {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 1rem;
  bottom: 0;
  left: 0;
  right: 0;
  @include responsive-buttons-wrapper;

  pointer-events: none;

  //opacity: 0;
}

.overlayHtml {
  transition: opacity 0.7s ease;
  pointer-events: auto;
}

.overlayHtml.invisible {
  opacity: 0;
  pointer-events: none;
}

#barButtons {
  visibility: visible;
  position: absolute;
  left: 2rem;
  display: flex;
  flex-direction: column;
  height: auto;
  @include responsive-button-width;
  @include responsive-bar-buttons;

  pointer-events: all;
}

#menuButton {
  appearance: none;
  -webkit-appearance: none;
  padding: 0;
  position: absolute;
  z-index: 1100;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;

  background: none;
  border: none;
  overflow: hidden;

  cursor: pointer;
}

/*#menuButton::before {
  content: '';
  display: block;
  position: absolute;
  background: rgba(#f4f4f4, .25);
  width: 1rem;
  height: 50%;
  top: .5rem;
  filter: blur(1rem);
  transform: translateX(-3rem) skewX(-15deg);
}

#menuButton:hover {
  &::before {
    transform: translateX(6rem) skewX(-15deg);
    transition: 0.7s;
  }
}*/

#commaMenuIcon {
  pointer-events: none;
}

@media only screen
and (min-height: 900px) {
  :root {
    font-size: 20px;
  }
}

@media only screen
and (max-width: 374px) {
  :root {
    font-size: 13px;
  }
}

@media only screen
and (min-width: 375px)
and (max-width: 413px)
and (-webkit-device-pixel-ratio: 2) {
  :root {
    font-size: 13px;
  }
}

@media only screen
and (min-width: 414px)
and (max-width: 428px)
and (-webkit-device-pixel-ratio: 2) {
  :root {
    font-size: 13.5px;
  }
}

@media only screen
and (min-width: 375px)
and (max-width: 428px)
and (-webkit-device-pixel-ratio: 3) {
  :root {
    font-size: 13.5px;
  }
}

/*@media only screen
and (min-width: 414px)
and (max-width: 428px)
and (-webkit-device-pixel-ratio: 3) {
  :root {
    font-size: 13.5px;
    //font-size: 15px;
  }
}*/
