@import './base/typography';
@import './thirdParty/includeMedia';
@import './base/resets';
@import './layout/bodyFlex';
@import './components/neuBox';
@import './sandbox';

body {
  background-color: #161616;
  font-family: 'Chicago', 'Open Sans', monospace;
  color: #f4f4f4;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
}

@media only screen
and (max-width: 374px) {
  :root {
    font-size: 13px;
  }
}

@media only screen
and (min-width: 375px)
and (max-width: 413px) {
  :root {
    font-size: 13.5px;
  }
}

@media only screen
and (min-width: 414px)
and (max-width: 428px)
and (-webkit-device-pixel-ratio: 3) {
  :root {
    font-size: 14px;
  }
}

/*@media only screen
and (min-width: 414px)
and (max-width: 428px)
and (-webkit-device-pixel-ratio: 2) {
  :root {
    font-size: 15px;
  }
}*/
