@import './base/typography';
@import './thirdParty/includeMedia';
@import './base/resets';
@import './layout/bodyFlex';
@import './components/neuBox';
@import './sandbox';

body {
  background-color: #262626;
  font-family: 'Chicago', monospace;
  color: #f4f4f4;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
}

div {
  font-family: 'Chicago', monospace;
}
