@use '../thirdParty/includeMedia' as *;

@mixin responsive-buttons-wrapper {
  @include media(">=desktop") {
    clip-path: polygon(0 65%, 0% 100%, 30% 100%);
  }
}

@mixin responsive-button-width {
  @include media(">=desktop") {
    width: 15rem;
    flex-direction: column;
  }

  @include media("<=desktop", ">=tablet") {
    width: 100%;
    justify-content: center;

    .navButton {
      width: auto;
    }
  }

  @include media("<=tablet") {
    width: 100%;
    justify-content: center;

    .navButton {
      width: auto;
      font-size: 1.25rem;
    }
  }

}

@mixin responsive-bar-buttons {
  @include media(">=desktop") {
    h2:nth-child(1) {
      border-top-left-radius: .5rem;
      border-top-right-radius: .5rem;
    }

    h2:last-child {
      border-bottom-right-radius: .5rem;
      border-bottom-left-radius: .5rem;
    }
  }
}

@mixin responsive-portfolio-items {
  @include media("<=tablet") {
      .portfolioItem {
        padding-left: 0;
      }

      .portfolioItemPreview {
        max-width: 90%;
      }
  }
}
