@use '../thirdParty/includeMedia' as *;

@mixin gradient-button {
  position: relative;
  color: #c6c6c6;
  background: -webkit-linear-gradient(40deg, rgba(190, 149, 255, .2), rgba(255,131,137,.2));
  -webkit-backdrop-filter: blur(.5rem);
  backdrop-filter: blur(.5rem);
  transition: color, filter 0.4s ease;
  overflow: hidden;
  cursor: pointer;

  &::before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(#f4f4f4, .5);
    width: 4rem;
    height: 2rem;
    top: 0;
    filter: blur(2rem);
    transform: translateX(-8rem) skewX(-15deg);
  }

  &:hover {
    color: #f4f4f4;
    background: -webkit-linear-gradient(40deg, rgba(255,131,137,.8)), rgba(190, 149, 255, .8);

    &::before {
      transform: translateX(18rem) skewX(-15deg);
      transition: 1s;
    }
  }
}

@mixin responsive-buttons-wrapper {
  @include media(">=desktop") {
    clip-path: polygon(0 65%, 0% 100%, 30% 100%);
  }
}

@mixin responsive-button-width {
  @include media(">=desktop") {
    width: 15rem;
    flex-direction: column;
  }

  @include media("<=desktop", ">=tablet") {
    width: 100%;
    justify-content: center;
  }

  @include media("<=tablet") {
    width: 100%;
    justify-content: center;
  }
}

@mixin responsive-nav-button {
  @include media(">=desktop") {
    width: 100%;
  }

  @include media("<=desktop", ">=tablet") {
    width: auto;
    flex-grow: 1;
  }

  @include media("<=tablet") {
    width: auto;
    font-size: 1.125rem;
  }
}

@mixin responsive-bar-buttons {
  @include media(">=desktop") {
    h2:nth-child(1) {
      border-top-left-radius: .5rem;
      border-top-right-radius: .5rem;
    }

    h2:last-child {
      border-bottom-right-radius: .5rem;
      border-bottom-left-radius: .5rem;
    }
  }
}

@mixin responsive-portfolio-items {
  @include media("<=tablet") {
      .portfolioItem {
        padding-left: 0;
      }

      .portfolioItemPreview,
      .portfolioItemDescription,
      .portfolioItemInfoSection--List, {
        max-width: 90%;
      }
  }
}

@mixin animate-bg-gradient-slide() {
  animation: bg-gradient-slide 3s ease;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;

  @keyframes bg-gradient-slide {
    0% {
      background-position: 0 1600px;
    }
    100% {
      background-position: 1600px 0;
    }
  }
}

@mixin stagger-animations() {
  &:nth-child(1) {
    animation-duration: 4.5s;
  }

  &:nth-child(2) {
    animation-duration: 4.6s;
  }
  &:nth-child(3) {
    animation-duration: 4.7s;
  }
  &:nth-child(4) {
    animation-duration: 4.8s;
  }
  &:nth-child(5) {
    animation-duration: 4.9s;
  }
  &:nth-child(6) {
    animation-duration: 4.8s;
  }
  &:nth-child(7) {
    animation-duration: 4.7s;
  }
  &:nth-child(8) {
    animation-duration: 4.6s;
  }
  &:nth-child(9) {
    animation-duration: 4.5s;
  }
  &:nth-child(10) {
    animation-duration: 4.6s;
  }
}
